<html>
    <head>
        <title>Keeper</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">

    </head>
    <body>
        <h1>Welcome to Keeper</h1>
        <button><a href="/login">login</a></button>
        <button><a href="/register">Register</a></button>
    </body>
</html>

