<head>
        <title>Keeper</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">

    </head>
    <body>
            <h1>Sign Up!</h1>

            <form action="/register" method="post">
                <input type="text" name="username" placeholder="username">
                <input type="password" name="password" placeholder="password">
                <button>Sign Up</button>
            </form>
    </body>
   

