<!DOCTYPE html>
<html>
<head>
        <title>Keeper</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
           <button id="wallet_button"><a href="/profile">Profile</a></button>
           <br>
           <div id="home_menu"><button>Be a Keeper</button>
           <br>
           <button><a href="/index/new">New Match</a></button>
           <br>
           <button><a href="/Wallet">Wallet</a></button>
           <br>
           <button><a href="/FAQ">FAQ and Chat</a></button>
           <br>
           <button><a href="/logout">Logout</a></button>
           </div>
           
           <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <% matches.forEach(function(match){ %>
                <div class="col-md-3 col-sm-6">
                    <h4><%= match.adress %></h4>
                    <h4><%= match.time %></h4>
                    <h4><%= match.cellhphone %></h4>
                    <h4><%= match.description %></h4>
              
                <p>
                   <button>Accept!</button>
                </p>
                </div>
            <% }); %>
        </div>
    
    </body>
    </html>
