<head>
        <title>Keeper</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
           <button id="wallet_button"><a href="/profile">Profile</a></button>
           <br>
           <div id="home_menu"><button>Be a Keeper</button>
           <br>
           <button><a href="/match">Search for Keeper</a></button>
           <br>
           <button><a href="/Wallet">Wallet</a></button>
           <br>
           <button><a href="/FAQ">FAQ and Chat</a></button>
           <br>
           <button><a href="/logout">Logout</a></button>
           </div>
           

            
    </body>
   