body {
    /*background: #9ca1a8;*/
    padding-top: 60px;
}

#profile {
    float: right;
    margin-right: 100px;
}

#home_menu {
   
        width: 100px;
        height: 100px;

    
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
    
        margin: auto;

}

#show_matches {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    
}